<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS_Device_SystemInfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2BEF920B1CA6678F008C9E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BEF92241CA66790008C9E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2BEF922F1CA66790008C9E50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
